.componentContainer{ 
}

.titleAndFormContainer{
    /* border: 2px black solid; */
    width: 450px;
    height: 200px;
    margin: 150px auto;
}

.formContainer{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

.nameLengthInvalid, .passwordLengthInvalid, .passwordsMatch{
    color: red;
}

.email, .name, .password, .confirmPassword{
    padding: 10px;
    margin-bottom: 20px;
    border: 2px solid rgb(204, 141, 87)
}
.button{
    width: 450px;
    border-radius: 10px;
    padding: 5px;
    margin-top: 10px;
    background-color: rgb(204, 141, 87);
}

.logOrSign{
    margin-top: 10px;
    font-size: 14px;
    text-align: center;
}
